<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685591013768-o48b7o4h8t5ojhgis223bfm3q5knkg3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685591013768-o48b7o4h8t5ojhgis223bfm3q5knkg3a</string>
	<key>API_KEY</key>
	<string>AIzaSyBmImGjGHnHqKFyTCABqG4_4sDAD9hs10A</string>
	<key>GCM_SENDER_ID</key>
	<string>685591013768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.main.lavenir</string>
	<key>PROJECT_ID</key>
	<string>lavenir-b749d</string>
	<key>STORAGE_BUCKET</key>
	<string>lavenir-b749d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685591013768:ios:5d70df54dba277a224f23d</string>
	<key>DATABASE_URL</key>
	<string>https://lavenir-b749d.firebaseio.com</string>
</dict>
</plist>